{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset ('css/pages.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>

    {% if nombrecom <= 3 %}
    Tu es un novice pour l'instant

    {% endif %}

    {% if nombrecom >= 4 and nombrecom < 7 %}
    Tu es un baroudeur maintenant

    {% endif %}

    {% if nombrecom >= 7 %}
    Tu es un grand connaisseur de Paris

    {% endif %}
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Lieu</th>
               
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.creation|date('d/m/Y H:i:s') }}</td>
                <td>{{ commentaire.lieu }}</td>
                
                
                <td>
                    <a href="{{ path('user_commentaire_show', {'id': commentaire.id}) }}">show</a>
                    <a href="{{ path('user_commentaire_edit', {'id': commentaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}