{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ lieu.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ lieu.codePostal }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lieu.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> 
                <img class="w-25" src="{{asset('uploads/' ~ lieu.image )}}"/>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catalog_index') }}">retour à la liste</a>

    

   
{% endblock %}
